.widget-content {
  font-family: Tahoma, Verdana, Geneva;
  font-size: 14px;
  color: #686868;
  line-height: normal;
  text-decoration: none;
  margin-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  text-shadow: none;
  background-color: transparent;
}
.widget-content p {
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #ffffff;
  line-height: 17px;
  text-decoration: none;
  margin-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  text-shadow: none;
  background-color: transparent;
}
.widget-content h1 {
  font-family: Tahoma, Verdana, Geneva;
  font-size: 20px;
  color: #a6a6a6;
  line-height: 29px;
  text-decoration: none;
  margin-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  text-shadow: none;
  background-color: transparent;
}
.widget-content h2 {
  font-family: Tahoma, Verdana, Geneva;
  font-size: 20px;
  color: #bec400;
  line-height: normal;
  text-decoration: none;
  margin-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  text-shadow: none;
  background-color: transparent;
}
.widget-content h3 {
  font-family: Tahoma, Verdana, Geneva;
  font-size: 15px;
  color: #bec400;
  line-height: normal;
  text-decoration: none;
  margin-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  text-shadow: none;
  background-color: transparent;
}
.widget-content h4 {
  font-family: Tahoma, Verdana, Geneva;
  font-size: 10px;
  color: #bec400;
  line-height: normal;
  text-decoration: none;
  margin-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  text-shadow: none;
  background-color: transparent;
}
.widget-content pre {
  font-family: Arial, sans-serif;
  font-size: 31px;
  color: #201ca0;
  line-height: 32px;
  text-decoration: none;
  margin-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  text-shadow: none;
  background-color: transparent;
}
.widget-content a {
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: normal;
  text-decoration: underline;
  color: #000000;
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  text-shadow: none;
  background-color: transparent;
}
.widget-content a:hover {
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: normal;
  text-decoration: underline;
  font-weight: bold;
  color: #81ae00;
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  text-shadow: none;
  background-color: transparent;
}
.widget-content ul li {
  font-family: Tahoma, Verdana, Geneva;
  font-size: 14px;
  line-height: normal;
  text-decoration: none;
  color: #686868;
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  text-shadow: none;
  background-color: transparent;
}
.widget-content ol li {
  font-family: Tahoma, Verdana, Geneva;
  font-size: 14px;
  line-height: normal;
  text-decoration: none;
  color: #686868;
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  text-shadow: none;
  background-color: transparent;
}
.template-content p.footer {
  font-size: 9px;
  font-family: Tahoma, Verdana, Geneva;
  color: #303030;
  line-height: 10px;
  text-decoration: none;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
  text-shadow: none;
  background-color: transparent;
}
.template-content h1.maintitle {
  font-family: Tahoma, Verdana, Geneva;
  font-size: 20px;
  color: #a6a6a6;
  text-decoration: none;
  margin-top: 0px;
  margin-left: 0px;
  margin-bottom: 5px;
  line-height: normal;
  text-shadow: none;
  background-color: transparent;
}
.template-content p.title {
  font-size: 37px;
  font-family: Tahoma, Verdana, Geneva;
  color: #ffffff;
  line-height: 36px;
  text-decoration: none;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
  text-shadow: none;
  background-color: transparent;
}
.template-content .widget-twitter-date {
  font-family: Tahoma, Verdana, Geneva;
  font-size: 14px;
  line-height: normal;
  text-decoration: none;
  color: #bec400;
  margin-left: 0px;
  margin-top: 10px;
  margin-right: 0px;
  margin-bottom: 20px;
  padding-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  text-shadow: none;
  background-color: transparent;
}
.template-content img.widget-twitter-img {
  font-family: Tahoma, Verdana, Geneva;
  font-size: 14px;
  line-height: normal;
  text-decoration: none;
  color: #686868;
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  text-shadow: none;
  background-color: transparent;
}
.template-content .widget-twitter-tweet {
  font-family: Tahoma, Verdana, Geneva;
  font-size: 14px;
  line-height: normal;
  text-decoration: none;
  color: #686868;
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  text-shadow: none;
  background-color: transparent;
}
.template-content a.widget-twitter-link {
  font-family: Tahoma, Verdana, Geneva;
  font-size: 14px;
  line-height: normal;
  text-decoration: none;
  color: #686868;
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  text-shadow: none;
  background-color: transparent;
}
.template-content a.widget-twitter-link:hover {
  font-family: Tahoma, Verdana, Geneva;
  font-size: 14px;
  line-height: normal;
  text-decoration: none;
  color: #686868;
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  text-shadow: none;
  background-color: transparent;
}
.template-content a.widget-menu-link {
  font-family: Tahoma, Verdana, Geneva;
  font-size: 13px;
  line-height: normal;
  text-decoration: none;
  color: #000000;
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  text-shadow: none;
  background-color: transparent;
}
.template-content a.widget-menu-selected {
  font-size: 13px;
  line-height: 14px;
  text-decoration: underline;
  font-weight: bold;
  color: #81ae00;
  text-shadow: none;
  background-color: transparent;
}
.template-content a.widget-menu-link:hover {
  font-size: 13px;
  line-height: 14px;
  text-decoration: none;
  color: #81ae00;
  text-shadow: none;
  background-color: transparent;
}
.template-content .widget-sitemap-home a {
  font-family: Tahoma, Verdana, Geneva;
  font-size: 14px;
  line-height: normal;
  text-decoration: none;
  color: #bec400;
  margin-left: 0px;
  margin-top: 10px;
  margin-right: 0px;
  margin-bottom: 20px;
  padding-left: 21px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  text-shadow: none;
  background-color: transparent;
}
.template-content .widget-sitemap-folder a {
  font-family: Tahoma, Verdana, Geneva;
  font-size: 14px;
  line-height: normal;
  text-decoration: none;
  color: #bec400;
  margin-left: 0px;
  margin-top: 10px;
  margin-right: 0px;
  margin-bottom: 20px;
  padding-left: 21px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  text-shadow: none;
  background-color: transparent;
}
.template-content .widget-sitemap-page a {
  font-family: Tahoma, Verdana, Geneva;
  font-size: 14px;
  line-height: normal;
  text-decoration: none;
  color: #bec400;
  margin-left: 0px;
  margin-top: 10px;
  margin-right: 0px;
  margin-bottom: 20px;
  padding-left: 21px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  text-shadow: none;
  background-color: transparent;
}
.template-content .widget-rss-list-title {
  font-family: Tahoma, Verdana, Geneva;
  font-size: 14px;
  line-height: normal;
  text-decoration: none;
  color: #666666;
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 6px;
  padding-left: 23px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  text-shadow: none;
  background-color: transparent;
}
.widget-rss-title a {
  font-family: Tahoma, Verdana, Geneva;
  font-size: 14px;
  line-height: normal;
  text-decoration: none;
  color: #bec400;
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 5px;
  padding-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 10px;
  text-shadow: none;
  background-color: transparent;
}
.widget-rss-item p {
  font-family: Tahoma, Verdana, Geneva;
  font-size: 14px;
  line-height: normal;
  text-decoration: none;
  color: #686868;
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 10px;
  text-shadow: none;
  background-color: transparent;
}
.template-content .widget-rss-date {
  font-family: Tahoma, Verdana, Geneva;
  font-size: 14px;
  line-height: normal;
  text-decoration: none;
  color: #686868;
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  text-shadow: none;
  background-color: transparent;
}
.template-content .widget-rss-list-item {
  font-family: Tahoma, Verdana, Geneva;
  font-size: 14px;
  line-height: normal;
  text-decoration: none;
  color: #bec400;
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  text-shadow: none;
  background-color: transparent;
}
.template-content .widget-rss-feed-title-h2 {
  text-shadow: none;
}
.template-content div.widget-comments-post {
  font-family: Tahoma, Verdana, Geneva;
  font-size: 14px;
  line-height: normal;
  text-decoration: none;
  color: #686868;
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 10px;
  padding-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  text-shadow: none;
  background-color: transparent;
}
.template-content a.widget-comments-website-url {
  font-family: Tahoma, Verdana, Geneva;
  font-size: 14px;
  line-height: normal;
  text-decoration: none;
  color: #686868;
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  text-shadow: none;
  background-color: transparent;
}
.template-content a.widget-comments-website-url:hover {
  font-family: Tahoma, Verdana, Geneva;
  font-size: 14px;
  line-height: normal;
  text-decoration: none;
  color: #686868;
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  text-shadow: none;
  background-color: transparent;
}
.template-content p.widget-comments-comment {
  font-family: Tahoma, Verdana, Geneva;
  font-size: 14px;
  line-height: normal;
  text-decoration: none;
  color: #686868;
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  text-shadow: none;
  background-color: transparent;
}
.template-content em.widget-comments-post-date {
  font-family: Tahoma, Verdana, Geneva;
  font-size: 14px;
  line-height: normal;
  text-decoration: none;
  color: #686868;
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  text-shadow: none;
  background-color: transparent;
}
.template-content img.widget-comments-gravatar {
  font-family: Tahoma, Verdana, Geneva;
  font-size: 14px;
  line-height: normal;
  text-decoration: none;
  color: #686868;
  margin-left: 5px;
  margin-top: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  padding-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  text-shadow: none;
  background-color: transparent;
}
.template-content label.widget-comments-label {
  font-family: Tahoma, Verdana, Geneva;
  font-size: 14px;
  line-height: normal;
  text-decoration: none;
  font-weight: bold;
  color: #686868;
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  padding-top: 6px;
  padding-right: 0px;
  padding-bottom: 0px;
  text-shadow: none;
  background-color: transparent;
}
.template-content span.widget-comments-inputsubtext {
  font-family: Tahoma, Verdana, Geneva;
  font-size: 14px;
  line-height: normal;
  text-decoration: none;
  color: #bec400;
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  text-shadow: none;
  background-color: transparent;
}
.template-content div.widget-comments-submit-result {
  font-family: Tahoma, Verdana, Geneva;
  font-size: 14px;
  line-height: normal;
  text-decoration: none;
  color: #686868;
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  text-shadow: none;
  background-color: #fffbb8;
}
.widget-form-title {
  font-family: Tahoma, Verdana, Geneva;
  font-size: 12px;
  line-height: 20px;
  text-decoration: none;
  font-weight: bold;
  color: #000000;
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  border-right-width: 0px;
  border-top-width: 1px;
  text-shadow: none;
  background-color: transparent;
}
.widget-form-subtitle {
  font-family: Tahoma, Verdana, Geneva;
  font-size: 10px;
  line-height: normal;
  text-decoration: none;
  color: #000000;
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  padding-top: 0px;
  padding-right: 25px;
  padding-bottom: 0px;
  border-color: #ffffff;
  text-shadow: none;
  background-color: transparent;
}
.widget-profile-address-address {
  font-family: Tahoma, Verdana, Geneva;
  font-size: 14px;
  line-height: normal;
  text-decoration: none;
  color: #686868;
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  text-shadow: none;
  background-color: transparent;
}
.widget-profile-businessdesc-description {
  font-family: Tahoma, Verdana, Geneva;
  font-size: 14px;
  line-height: normal;
  text-decoration: none;
  color: #686868;
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  text-shadow: none;
  background-color: transparent;
}
.widget-profile-businessname-name {
  font-family: Tahoma, Verdana, Geneva;
  font-size: 14px;
  line-height: normal;
  text-decoration: none;
  color: #686868;
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  text-shadow: none;
  background-color: transparent;
}
.widget-profile-email-email {
  font-family: Tahoma, Verdana, Geneva;
  font-size: 14px;
  line-height: normal;
  text-decoration: none;
  color: #686868;
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  text-shadow: none;
  background-color: transparent;
}
.widget-profile-email-link {
  font-family: Tahoma, Verdana, Geneva;
  font-size: 14px;
  line-height: normal;
  text-decoration: none;
  color: #bec400;
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  text-shadow: none;
  background-color: transparent;
}
.widget-profile-services-service {
  font-family: Tahoma, Verdana, Geneva;
  font-size: 14px;
  line-height: normal;
  text-decoration: none;
  color: #686868;
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  text-shadow: none;
  background-color: transparent;
}
.widget-profile-telephone-telephone {
  font-family: Tahoma, Verdana, Geneva;
  font-size: 14px;
  line-height: normal;
  text-decoration: none;
  color: #686868;
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  text-shadow: none;
  background-color: transparent;
}
.widget-profile-strapline-strapline {
  font-family: Tahoma, Verdana, Geneva;
  font-size: 14px;
  line-height: normal;
  text-decoration: none;
  color: #686868;
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  text-shadow: none;
  background-color: transparent;
}
.template-content .widget-file-name {
  font-family: Tahoma, Verdana, Geneva;
  font-size: 14px;
  line-height: 14px;
  font-style: bold;
  text-decoration: none;
  color: #686868;
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding-left: 52px;
  padding-top: 8px;
  padding-right: 8px;
  padding-bottom: 0px;
  text-shadow: none;
  background-color: transparent;
}
.template-content .widget-file-description {
  font-family: Tahoma, Verdana, Geneva;
  font-size: 14px;
  line-height: normal;
  text-decoration: none;
  color: #81ae00;
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding-left: 52px;
  padding-top: 5px;
  padding-right: 0px;
  padding-bottom: 8px;
  text-shadow: none;
  background-color: transparent;
}
.widget-googleaddtocart-title {
  font-family: Tahoma, Verdana, Geneva;
  font-size: 14px;
  line-height: normal;
  text-decoration: none;
  font-weight: bold;
  color: #686868;
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  text-shadow: none;
  background-color: transparent;
}
.widget-googleaddtocart-description {
  font-family: Tahoma, Verdana, Geneva;
  font-size: 14px;
  line-height: normal;
  text-decoration: none;
  color: #686868;
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  text-shadow: none;
  background-color: transparent;
}
.widget-googleaddtocart-price {
  font-family: Tahoma, Verdana, Geneva;
  font-size: 14px;
  line-height: normal;
  text-decoration: none;
  font-weight: bold;
  color: #686868;
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  text-shadow: none;
  background-color: transparent;
}
.widget-googleaddtocart-shipping-container {
  font-family: Tahoma, Verdana, Geneva;
  font-size: 14px;
  line-height: normal;
  text-decoration: none;
  color: #686868;
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  text-shadow: none;
  background-color: transparent;
}
.widget-paypaladdtocart-name {
  font-family: Tahoma, Verdana, Geneva;
  font-size: 14px;
  line-height: normal;
  text-decoration: none;
  color: #686868;
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  text-shadow: none;
  background-color: transparent;
}
.widget-paypaladdtocart-description {
  font-family: Tahoma, Verdana, Geneva;
  font-size: 14px;
  line-height: normal;
  text-decoration: none;
  color: #686868;
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  text-shadow: none;
  background-color: transparent;
}
.widget-paypaladdtocart-price {
  font-family: Tahoma, Verdana, Geneva;
  font-size: 14px;
  line-height: normal;
  text-decoration: none;
  color: #686868;
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  text-shadow: none;
  background-color: transparent;
}
.widget-paypaladdtocart-shipping-container {
  font-family: Tahoma, Verdana, Geneva;
  font-size: 14px;
  line-height: normal;
  text-decoration: none;
  color: #686868;
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  text-shadow: none;
  background-color: transparent;
}
.widget-paypaladdtocart-description {
  font-family: Tahoma, Verdana, Geneva;
  font-size: 14px;
  line-height: normal;
  text-decoration: none;
  color: #686868;
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  text-shadow: none;
  background-color: transparent;
}
.widget-paypaladdtocart-name {
  padding-bottom: 0px;
  padding-right: 0px;
  color: #686868;
  font-family: Tahoma, Verdana, Geneva;
  font-size: 14px;
  line-height: normal;
  text-decoration: none;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-left: 0px;
  font-weight: bold;
  text-shadow: none;
  background-color: transparent;
}
.widget-paypaladdtocart-price {
  font-family: Tahoma, Verdana, Geneva;
  font-size: 14px;
  line-height: normal;
  text-decoration: none;
  font-weight: bold;
  color: #686868;
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  text-shadow: none;
  background-color: transparent;
}
.widget-paypaladdtocart-shipping-container {
  font-family: Tahoma, Verdana, Geneva;
  font-size: 14px;
  line-height: normal;
  text-decoration: none;
  color: #686868;
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  text-shadow: none;
  background-color: transparent;
}
.nav-level1.style1 .nav-link {
  font-family: Tahoma, Verdana, Geneva;
  font-size: 14px;
  line-height: normal;
  text-decoration: none;
  color: #021947;
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  text-shadow: none;
  background-color: transparent;
}
.nav-level1.style2 .nav-link {
  font-family: Tahoma, Verdana, Geneva;
  font-size: 14px;
  line-height: normal;
  text-decoration: none;
  color: #662443;
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  text-shadow: none;
  background-color: transparent;
}
.nav-level1.style3 .nav-link {
  font-family: Tahoma, Verdana, Geneva;
  font-size: 14px;
  line-height: normal;
  text-decoration: none;
  color: #000000;
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  text-shadow: none;
  background-color: transparent;
}
.nav-level1.style4 .nav-link {
  font-family: Tahoma, Verdana, Geneva;
  font-size: 14px;
  line-height: normal;
  text-decoration: none;
  color: #086e8b;
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  text-shadow: none;
  background-color: transparent;
}
.nav-level1.style5 .nav-link {
  font-family: Tahoma, Verdana, Geneva;
  font-size: 14px;
  line-height: normal;
  text-decoration: none;
  color: #214001;
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  text-shadow: none;
  background-color: transparent;
}
.nav-level1.style1 .nav-link.selected {
  font-family: Tahoma, Verdana, Geneva;
  font-size: 14px;
  line-height: normal;
  text-decoration: none;
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  color: #388c78;
  text-shadow: none;
  background-color: transparent;
}
.nav-level1.style1 .nav-link:hover,
.nav-level1.style1 .nav-link:hover.selected {
  font-family: Tahoma, Verdana, Geneva;
  font-size: 14px;
  line-height: normal;
  text-decoration: none;
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  color: #bed9a9;
  text-shadow: none;
  background-color: transparent;
}
.nav-level1.style2 .nav-link.selected {
  font-family: Tahoma, Verdana, Geneva;
  font-size: 14px;
  line-height: normal;
  text-decoration: none;
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  color: #ff431a;
  text-shadow: none;
  background-color: transparent;
}
.nav-level1.style2 .nav-link:hover {
  font-family: Tahoma, Verdana, Geneva;
  font-size: 14px;
  line-height: normal;
  text-decoration: none;
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  color: #b53135;
  text-shadow: none;
  background-color: transparent;
}
.nav-level1.style3 .nav-link.selected {
  font-family: Tahoma, Verdana, Geneva;
  font-size: 14px;
  line-height: normal;
  text-decoration: none;
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  color: #ff8556;
  text-shadow: none;
  background-color: transparent;
}
.nav-level1.style3 .nav-link:hover,
.nav-level1.style3 .nav-link:hover.selected {
  font-family: Tahoma, Verdana, Geneva;
  font-size: 14px;
  line-height: normal;
  text-decoration: none;
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  color: #c7c49f;
  text-shadow: none;
  background-color: transparent;
}
.nav-level1.style4 .nav-link.selected {
  font-family: Tahoma, Verdana, Geneva;
  font-size: 14px;
  line-height: normal;
  text-decoration: none;
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  color: #f3bc19;
  text-shadow: none;
  background-color: transparent;
}
.nav-level1.style4 .nav-link:hover,
.nav-level1.style4 .nav-link:hover.selected {
  font-family: Tahoma, Verdana, Geneva;
  font-size: 14px;
  line-height: normal;
  text-decoration: none;
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  color: #022029;
  text-shadow: none;
  background-color: transparent;
}
.nav-level1.style5 .nav-link.selected {
  font-family: Tahoma, Verdana, Geneva;
  font-size: 14px;
  line-height: normal;
  text-decoration: none;
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  color: #f25252;
  text-shadow: none;
  background-color: transparent;
}
.nav-level1.style5 .nav-link:hover,
.nav-level1.style5 .nav-link:hover.selected {
  font-family: Tahoma, Verdana, Geneva;
  font-size: 14px;
  line-height: normal;
  text-decoration: none;
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  color: #94bf54;
  text-shadow: none;
  background-color: transparent;
}
.nav-level2.style1-level2 .nav-link2 {
  font-family: Tahoma, Verdana, Geneva;
  font-size: 14px;
  line-height: normal;
  text-decoration: none;
  color: #292628;
  padding-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  text-shadow: none;
  background-color: transparent;
}
.nav-level2.style2-level2 .nav-link2 {
  font-family: Tahoma, Verdana, Geneva;
  font-size: 14px;
  line-height: normal;
  text-decoration: none;
  color: #8c203d;
  padding-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  text-shadow: none;
  background-color: transparent;
}
.nav-level2.style3-level2 .nav-link2 {
  font-family: Tahoma, Verdana, Geneva;
  font-size: 14px;
  line-height: normal;
  text-decoration: none;
  color: #8a9126;
  padding-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  text-shadow: none;
  background-color: transparent;
}
.nav-level2.style4-level2 .nav-link2 {
  font-family: Tahoma, Verdana, Geneva;
  font-size: 14px;
  line-height: normal;
  text-decoration: none;
  color: #ffffff;
  padding-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  text-shadow: none;
  background-color: transparent;
}
.nav-level2.style5-level2 .nav-link2 {
  font-family: Tahoma, Verdana, Geneva;
  font-size: 14px;
  line-height: normal;
  text-decoration: none;
  color: #bcc6da;
  padding-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  text-shadow: none;
  background-color: transparent;
}
.nav-level2.style1-level2 {
  font-family: Tahoma, Verdana, Geneva;
  font-size: 14px;
  line-height: normal;
  text-decoration: none;
  color: #214001;
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  text-shadow: none;
  background-color: #55a7a9;
}
.nav-level2.style1-level2 .nav-link2.selected {
  font-family: Tahoma, Verdana, Geneva;
  font-size: 14px;
  line-height: normal;
  text-decoration: none;
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  color: #376d8e;
  text-shadow: none;
  background-color: transparent;
}
.nav-level2.style1-level2 .nav-link2:hover,
.nav-level2.style1-level2 .nav-link2:hover.selected {
  font-family: Tahoma, Verdana, Geneva;
  font-size: 14px;
  line-height: normal;
  text-decoration: none;
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  color: #376d8e;
  text-shadow: none;
  background-color: transparent;
}
.nav-level2.style2-level2 {
  font-family: Tahoma, Verdana, Geneva;
  font-size: 14px;
  line-height: normal;
  text-decoration: none;
  color: #214001;
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  text-shadow: none;
  background-color: #dceaf2;
}
.nav-level2.style2-level2 .nav-link2.selected {
  font-family: Tahoma, Verdana, Geneva;
  font-size: 14px;
  line-height: normal;
  text-decoration: none;
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  color: #94bf54;
  text-shadow: none;
  background-color: transparent;
}
.nav-level2.style2-level2 .nav-link2:hover,
.nav-level2.style2-level2 .nav-link2:hover.selected {
  font-family: Tahoma, Verdana, Geneva;
  font-size: 14px;
  line-height: normal;
  text-decoration: none;
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  color: #3a668c;
  text-shadow: none;
  background-color: transparent;
}
.nav-level2.style3-level2 {
  font-family: Tahoma, Verdana, Geneva;
  font-size: 14px;
  line-height: normal;
  text-decoration: none;
  color: #214001;
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  text-shadow: none;
  background-color: #f5b776;
}
.nav-level2.style3-level2 .nav-link2.selected {
  font-family: Tahoma, Verdana, Geneva;
  font-size: 14px;
  line-height: normal;
  text-decoration: none;
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  color: #b7bf5e;
  text-shadow: none;
  background-color: transparent;
}
.nav-level2.style3-level2 .nav-link2:hover {
  font-family: Tahoma, Verdana, Geneva;
  font-size: 14px;
  line-height: normal;
  text-decoration: none;
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  color: #b7bf5e;
  text-shadow: none;
  background-color: transparent;
}
.nav-level2.style4-level2 {
  font-family: Tahoma, Verdana, Geneva;
  font-size: 14px;
  line-height: normal;
  text-decoration: none;
  color: #214001;
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  text-shadow: none;
  background-color: #00a3f1;
}
.nav-level2.style4-level2 .nav-link2.selected {
  font-family: Tahoma, Verdana, Geneva;
  font-size: 14px;
  line-height: normal;
  text-decoration: none;
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  color: #3e3fa3;
  text-shadow: none;
  background-color: transparent;
}
.nav-level2.style4-level2 .nav-link2:hover,
.nav-level2.style4-level2 .nav-link2:hover.selected {
  font-family: Tahoma, Verdana, Geneva;
  font-size: 14px;
  line-height: normal;
  text-decoration: none;
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  color: #3e3fa3;
  text-shadow: none;
  background-color: transparent;
}
.nav-level2.style5-level2 {
  font-family: Tahoma, Verdana, Geneva;
  font-size: 14px;
  line-height: normal;
  text-decoration: none;
  color: #214001;
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  text-shadow: none;
  background-color: #4f5b57;
}
.nav-level2.style5-level2 .nav-link2.selected {
  font-family: Tahoma, Verdana, Geneva;
  font-size: 14px;
  line-height: normal;
  text-decoration: none;
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  color: #1972c1;
  text-shadow: none;
  background-color: transparent;
}
.nav-level2.style5-level2 .nav-link2:hover,
.nav-level2.style5-level2 .nav-link2:hover.selected {
  font-family: Tahoma, Verdana, Geneva;
  font-size: 14px;
  line-height: normal;
  text-decoration: none;
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  color: #1972c1;
  text-shadow: none;
  background-color: transparent;
}
.nav-level3.style1-level3 .nav-link3 {
  font-family: Tahoma, Verdana, Geneva;
  font-size: 14px;
  line-height: normal;
  text-decoration: none;
  color: #292628;
  padding-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  text-shadow: none;
  background-color: transparent;
}
.nav-level3.style2-level3 .nav-link3 {
  font-family: Tahoma, Verdana, Geneva;
  font-size: 14px;
  line-height: normal;
  text-decoration: none;
  color: #8c203d;
  padding-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  text-shadow: none;
  background-color: transparent;
}
.nav-level3.style1-level3 {
  font-family: Tahoma, Verdana, Geneva;
  font-size: 14px;
  line-height: normal;
  text-decoration: none;
  color: #214001;
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  text-shadow: none;
  background-color: #55a7a9;
}
.nav-level3.style1-level3 .nav-link3.selected {
  font-family: Tahoma, Verdana, Geneva;
  font-size: 14px;
  line-height: normal;
  text-decoration: none;
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  color: #376d8e;
  text-shadow: none;
  background-color: transparent;
}
.nav-level3.style1-level3 .nav-link3:hover,
.nav-level3.style1-level3 .nav-link3:hover.selected {
  font-family: Tahoma, Verdana, Geneva;
  font-size: 14px;
  line-height: normal;
  text-decoration: none;
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  color: #376d8e;
  text-shadow: none;
  background-color: transparent;
}
.nav-level3.style2-level3 {
  font-family: Tahoma, Verdana, Geneva;
  font-size: 14px;
  line-height: normal;
  text-decoration: none;
  color: #214001;
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  text-shadow: none;
  background-color: #dceaf2;
}
.nav-level3.style2-level3 .nav-link3.selected {
  font-family: Tahoma, Verdana, Geneva;
  font-size: 14px;
  line-height: normal;
  text-decoration: none;
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  color: #94bf54;
  text-shadow: none;
  background-color: transparent;
}
.nav-level3.style2-level3 .nav-link3:hover,
.nav-level3.style2-level3 .nav-link3:hover.selected {
  font-family: Tahoma, Verdana, Geneva;
  font-size: 14px;
  line-height: normal;
  text-decoration: none;
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  color: #3a668c;
  text-shadow: none;
  background-color: transparent;
}
.widget-navigation-breadcrumb.style1-breadcrumb
  .widget-navigation-breadcrumb-link {
  font-family: Tahoma, Verdana, Geneva;
  font-size: 14px;
  line-height: normal;
  text-decoration: none;
  font-weight: bold;
  color: #292628;
  padding-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  text-shadow: none;
  background-color: transparent;
}
.widget-navigation-breadcrumb.style1-breadcrumb {
  font-family: Tahoma, Verdana, Geneva;
  font-size: 14px;
  line-height: normal;
  text-decoration: none;
  font-weight: bold;
  color: #214001;
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  text-shadow: none;
  background-color: transparent;
}
.widget-navigation-breadcrumb.style1-breadcrumb
  .widget-navigation-breadcrumb-link-selected {
  font-family: Tahoma, Verdana, Geneva;
  font-size: 14px;
  line-height: normal;
  text-decoration: none;
  font-weight: bold;
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  color: #376d8e;
  text-shadow: none;
  background-color: transparent;
}
.widget-navigation-breadcrumb.style1-breadcrumb
  .widget-navigation-breadcrumb-link:hover {
  font-family: Tahoma, Verdana, Geneva;
  font-size: 14px;
  line-height: normal;
  text-decoration: none;
  font-weight: bold;
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  color: #376d8e;
  text-shadow: none;
  background-color: transparent;
}
.widget-navigation-breadcrumb.style1-breadcrumb .separator {
  font-family: Tahoma, Verdana, Geneva;
  font-size: 14px;
  line-height: normal;
  text-decoration: none;
  font-weight: bold;
  color: #214001;
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  text-shadow: none;
  background-color: transparent;
}
