#bk5 .widget-columns-column-padding {
  margin-left: 10px;
  margin-right: 10px;
}
#bk9 {
  padding-left: 0%;
  padding-top: 26px;
  padding-right: 0%;
  padding-bottom: 0px;
}
#bk9 .bk-widget-side-drop-left {
  width: 0%;
}
#bk9 .bk-widget-side-drop-right {
  width: 0%;
}
#bk9,
#bk9 .widget-image-image {
  width: 960px;
  height: 211px;
}
#bk7 {
  padding-left: 0%;
  padding-top: 0px;
  padding-right: 0%;
  padding-bottom: 0px;
}
#bk7 .bk-widget-side-drop-left {
  width: 0%;
}
#bk7 .bk-widget-side-drop-right {
  width: 0%;
}
#bk6 {
  width: 100%;
  min-height: 105px;
}
#bk5 {
  padding-left: 0%;
  padding-top: 0px;
  padding-right: 0%;
  padding-bottom: 0px;
}
#bk5 .bk-widget-side-drop-left {
  width: 0%;
}
#bk5 .bk-widget-side-drop-right {
  width: 0%;
}
#bk4 {
  min-height: 105px;
}
#bk11 .widget-columns-column-padding {
  margin-left: 10px;
  margin-right: 10px;
}
#bk13 .widget-columns-column-padding {
  margin-left: 5px;
  margin-right: 5px;
}
#bk15 {
  padding-left: 0%;
  padding-top: 0px;
  padding-right: 0%;
  padding-bottom: 0px;
}
#bk15 .bk-widget-side-drop-left {
  width: 0%;
}
#bk15 .bk-widget-side-drop-right {
  width: 0%;
}
#bk15,
#bk15 .widget-image-image {
  width: 187px;
  height: 46px;
}
#bk14 {
  width: 20%;
}
#bk17 {
  padding-left: 0%;
  padding-top: 0px;
  padding-right: 0%;
  padding-bottom: 0px;
}
#bk17 .bk-widget-side-drop-left {
  width: 0%;
}
#bk17 .bk-widget-side-drop-right {
  width: 0%;
}
#bk17,
#bk17 .widget-image-image {
  width: 182px;
  height: 45px;
}
#bk16 {
  width: 20%;
}
#bk19 {
  padding-left: 0%;
  padding-top: 0px;
  padding-right: 0%;
  padding-bottom: 0px;
}
#bk19 .bk-widget-side-drop-left {
  width: 0%;
}
#bk19 .bk-widget-side-drop-right {
  width: 0%;
}
#bk19,
#bk19 .widget-image-image {
  width: 182px;
  height: 45px;
}
#bk18 {
  width: 20%;
}
#bk21 {
  padding-left: 0%;
  padding-top: 0px;
  padding-right: 0%;
  padding-bottom: 0px;
}
#bk21 .bk-widget-side-drop-left {
  width: 0%;
}
#bk21 .bk-widget-side-drop-right {
  width: 0%;
}
#bk21,
#bk21 .widget-image-image {
  width: 182px;
  height: 45px;
}
#bk20 {
  width: 20%;
}
#bk23 {
  padding-left: 0%;
  padding-top: 0px;
  padding-right: 0%;
  padding-bottom: 0px;
}
#bk23 .bk-widget-side-drop-left {
  width: 0%;
}
#bk23 .bk-widget-side-drop-right {
  width: 0%;
}
#bk23,
#bk23 .widget-image-image {
  width: 187px;
  height: 46px;
}
#bk22 {
  width: 20%;
}
#bk13 {
  padding-left: 0%;
  padding-top: 0px;
  padding-right: 0%;
  padding-bottom: 0px;
}
#bk13 .bk-widget-side-drop-left {
  width: 0%;
}
#bk13 .bk-widget-side-drop-right {
  width: 0%;
}
#bk24 {
  padding-left: 1.25%;
  padding-top: 43px;
  padding-right: 0%;
  padding-bottom: 0px;
}
#bk24 .bk-widget-side-drop-left {
  width: 1.25%;
}
#bk24 .bk-widget-side-drop-right {
  width: 0%;
}
#bk25 {
  padding-left: 1.25%;
  padding-top: 14px;
  padding-right: 0%;
  padding-bottom: 0px;
}
#bk25 .bk-widget-side-drop-left {
  width: 1.25%;
}
#bk25 .bk-widget-side-drop-right {
  width: 0%;
}
#bk26 .widget-columns-column-padding {
  margin-left: 10px;
  margin-right: 10px;
}
#bk28 {
  padding-left: 1.25%;
  padding-top: 38px;
  padding-right: 0%;
  padding-bottom: 0px;
}
#bk28 .bk-widget-side-drop-left {
  width: 1.25%;
}
#bk28 .bk-widget-side-drop-right {
  width: 0%;
}
#bk27 {
  width: 100%;
}
#bk26 {
  padding-left: 0%;
  padding-top: 0px;
  padding-right: 0%;
  padding-bottom: 0px;
}
#bk26 .bk-widget-side-drop-left {
  width: 0%;
}
#bk26 .bk-widget-side-drop-right {
  width: 0%;
}
#bk29 .widget-columns-column-padding {
  margin-left: 10px;
  margin-right: 10px;
}
#bk31 {
  padding-left: 0%;
  padding-top: 1px;
  padding-right: 0%;
  padding-bottom: 0px;
}
#bk31 .bk-widget-side-drop-left {
  width: 0%;
}
#bk31 .bk-widget-side-drop-right {
  width: 0%;
}
#bk30 {
  width: 49.7829232996%;
}
#bk33 {
  padding-left: 0%;
  padding-top: 0px;
  padding-right: 0%;
  padding-bottom: 0px;
}
#bk33 .bk-widget-side-drop-left {
  width: 0%;
}
#bk33 .bk-widget-side-drop-right {
  width: 0%;
}
#bk32 {
  width: 50.2170767004%;
}
#bk29 {
  padding-left: 1.25%;
  padding-top: 18px;
  padding-right: 28.0208333333%;
  padding-bottom: 0px;
}
#bk29 .bk-widget-side-drop-left {
  width: 1.25%;
}
#bk29 .bk-widget-side-drop-right {
  width: 28.0208333333%;
}
#bk34 {
  padding-left: 1.25%;
  padding-top: 28px;
  padding-right: 0%;
  padding-bottom: 0px;
}
#bk34 .bk-widget-side-drop-left {
  width: 1.25%;
}
#bk34 .bk-widget-side-drop-right {
  width: 0%;
}
#bk35 .widget-columns-column-padding {
  margin-left: 10px;
  margin-right: 10px;
}
#bk37 {
  padding-left: 3.5714285714%;
  padding-top: 0px;
  padding-right: 0%;
  padding-bottom: 0px;
}
#bk37 .bk-widget-side-drop-left {
  width: 3.5714285714%;
}
#bk37 .bk-widget-side-drop-right {
  width: 0%;
}
#bk36 {
  width: 50%;
}
#bk39 {
  padding-left: 0%;
  padding-top: 0px;
  padding-right: 0%;
  padding-bottom: 0px;
}
#bk39 .bk-widget-side-drop-left {
  width: 0%;
}
#bk39 .bk-widget-side-drop-right {
  width: 0%;
}
#bk38 {
  width: 50%;
}
#bk35 {
  padding-left: 0%;
  padding-top: 19px;
  padding-right: 28.0208333333%;
  padding-bottom: 0px;
}
#bk35 .bk-widget-side-drop-left {
  width: 0%;
}
#bk35 .bk-widget-side-drop-right {
  width: 28.0208333333%;
}
#bk40 {
  padding-left: 1.25%;
  padding-top: 31px;
  padding-right: 0%;
  padding-bottom: 0px;
}
#bk40 .bk-widget-side-drop-left {
  width: 1.25%;
}
#bk40 .bk-widget-side-drop-right {
  width: 0%;
}
#bk41 {
  padding-left: 1.25%;
  padding-top: 6px;
  padding-right: 0%;
  padding-bottom: 0px;
}
#bk41 .bk-widget-side-drop-left {
  width: 1.25%;
}
#bk41 .bk-widget-side-drop-right {
  width: 0%;
}
#bk42 .widget-columns-column-padding {
  margin-left: 10px;
  margin-right: 10px;
}
#bk44 {
  padding-left: 3.5714285714%;
  padding-top: 16px;
  padding-right: 0%;
  padding-bottom: 0px;
}
#bk44 .bk-widget-side-drop-left {
  width: 3.5714285714%;
}
#bk44 .bk-widget-side-drop-right {
  width: 0%;
}
#bk43 {
  width: 50%;
}
#bk46 {
  padding-left: 0%;
  padding-top: 16px;
  padding-right: 0%;
  padding-bottom: 0px;
}
#bk46 .bk-widget-side-drop-left {
  width: 0%;
}
#bk46 .bk-widget-side-drop-right {
  width: 0%;
}
#bk45 {
  width: 50%;
}
#bk42 {
  padding-left: 0%;
  padding-top: 0px;
  padding-right: 27.96875%;
  padding-bottom: 0px;
}
#bk42 .bk-widget-side-drop-left {
  width: 0%;
}
#bk42 .bk-widget-side-drop-right {
  width: 27.96875%;
}
#bk47 {
  padding-left: 1.25%;
  padding-top: 29px;
  padding-right: 0%;
  padding-bottom: 0px;
}
#bk47 .bk-widget-side-drop-left {
  width: 1.25%;
}
#bk47 .bk-widget-side-drop-right {
  width: 0%;
}
#bk48 {
  padding-left: 1.25%;
  padding-top: 5px;
  padding-right: 0%;
  padding-bottom: 0px;
}
#bk48 .bk-widget-side-drop-left {
  width: 1.25%;
}
#bk48 .bk-widget-side-drop-right {
  width: 0%;
}
#bk49 .widget-columns-column-padding {
  margin-left: 10px;
  margin-right: 10px;
}
#bk51 {
  padding-left: 3.550295858%;
  padding-top: 0px;
  padding-right: 0%;
  padding-bottom: 0px;
}
#bk51 .bk-widget-side-drop-left {
  width: 3.550295858%;
}
#bk51 .bk-widget-side-drop-right {
  width: 0%;
}
#bk52 {
  padding-left: 0%;
  padding-top: 70px;
  padding-right: 0%;
  padding-bottom: 0px;
}
#bk52 .bk-widget-side-drop-left {
  width: 0%;
}
#bk52 .bk-widget-side-drop-right {
  width: 0%;
}
#bk50 {
  width: 49.9282639885%;
}
#bk54 {
  padding-left: 0%;
  padding-top: 0px;
  padding-right: 0%;
  padding-bottom: 0px;
}
#bk54 .bk-widget-side-drop-left {
  width: 0%;
}
#bk54 .bk-widget-side-drop-right {
  width: 0%;
}
#bk53 {
  width: 50.0717360115%;
}
#bk49 {
  padding-left: 0%;
  padding-top: 15px;
  padding-right: 27.3958333333%;
  padding-bottom: 0px;
}
#bk49 .bk-widget-side-drop-left {
  width: 0%;
}
#bk49 .bk-widget-side-drop-right {
  width: 27.3958333333%;
}
#bk12 {
  width: 100%;
  min-height: 961px;
}
#bk11 {
  padding-left: 0%;
  padding-top: 0px;
  padding-right: 0%;
  padding-bottom: 0px;
}
#bk11 .bk-widget-side-drop-left {
  width: 0%;
}
#bk11 .bk-widget-side-drop-right {
  width: 0%;
}
#bk10 {
  min-height: 961px;
}
#bk56 .widget-columns-column-padding {
  margin-left: 10px;
  margin-right: 10px;
}
#bk58 .widget-columns-column-padding {
  margin-left: 10px;
  margin-right: 10px;
}
#bk60 {
  padding-left: 0%;
  padding-top: 16px;
  padding-right: 59.5441595442%;
  padding-bottom: 0px;
}
#bk60 .bk-widget-side-drop-left {
  width: 0%;
}
#bk60 .bk-widget-side-drop-right {
  width: 59.5441595442%;
}
#bk60,
#bk60 .widget-image-image {
  width: 142px;
  height: 142px;
}
#bk59 {
  width: 37.708%;
}
#bk62 {
  padding-left: 0%;
  padding-top: 81px;
  padding-right: 0%;
  padding-bottom: 0px;
}
#bk62 .bk-widget-side-drop-left {
  width: 0%;
}
#bk62 .bk-widget-side-drop-right {
  width: 0%;
}
#bk61 {
  width: 62.292%;
}
#bk58 {
  padding-left: 0%;
  padding-top: 0px;
  padding-right: 0%;
  padding-bottom: 0px;
}
#bk58 .bk-widget-side-drop-left {
  width: 0%;
}
#bk58 .bk-widget-side-drop-right {
  width: 0%;
}
#bk57 {
  width: 100%;
  min-height: 120px;
}
#bk56 {
  padding-left: 0%;
  padding-top: 0px;
  padding-right: 0%;
  padding-bottom: 0px;
}
#bk56 .bk-widget-side-drop-left {
  width: 0%;
}
#bk56 .bk-widget-side-drop-right {
  width: 0%;
}
#bk55 {
  min-height: 120px;
}
